* {
  font-family: 'Roboto', Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  /* width: 100vh; */
}
/* 
body, html {
  width: 100vw;
  height: 100vh;
} */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(arch.jpg);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

h2 {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  margin: 0px 100px;
  /* border: 1px solid blue; */
  color: #fff;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.logohdr:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
}

.nav-links ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.my-name {
  font-size: 6rem;
  margin: 0;
  padding: 0;
  color: #fff;
  border: 1px solid salmon ;
  /* max-width: 200px; */
  
}

.sub-hero {
  font-size: 2rem;
  margin-top: 1em;
  padding: 0;
  /* border: 1px solid salmon; */

}

.hero-text {
  text-align: center;
  max-width: 100%;
  top: 40%;
  position: relative;
  transform: translateY(-50%);
  color: #fff;
}


.about-me {
  background-color: #424141;
  /* margin: auto; */
  text-align: center;
  padding: 10em;
  color: #fff;
}

.portfolio-container {
  background-color: #c7c4c4;
  text-align: center;
  padding: 50px;
}

.portfolio-item {
  /* border: 1px solid blue; */
  width: 300px;
  min-height: 450px;
}

.portfolio-grid {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  gap: 2em;
}

.item-px {
  width: 300px;
  min-height: 450px;
  display: block;
}

.item-px:hover {
  transform: translateY(-4px);
  transition: all 0.3s;
  background-color: rgba(114, 177, 244, 0.7);  
}

.see-button {
  background-color: rgb(114, 177, 244);
  padding: 10px 20px;
  width: 200px;
  border-radius: 4px;
  color: #fff;
  font-size: 1.15rem;
  margin: auto;
  cursor: pointer;
}

.see-button:hover {
  transform: translateY(-2px);
  transition: all 0.2s;
  background-color: rgba(114, 177, 244, 0.7);  
}

.container-two {
  background-color: #625f5f;

  /* display: flex;
  flex-direction: column; */
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.contact-me {
  /* border: 1px solid salmon; */
  display: block;
  color: #fff;
  padding: 30px 0;
  font-size: 4rem;
  transform: translateX(-3.5em);
}

.media-box {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

form {
  /* border: 1px solid salmon; */
  width: 90%;
  min-width: 500px;
}

.input-group  {
  margin-bottom: 30px;
  position: relative;
}

input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  /* background: transparent; */
  background-color: #ffffff2e;
  font-size: 1rem;
  color: #fff;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;

  color: #fff;
  cursor: text;
  transition: 0.2s;
}

button {
  padding: 10px;  
  color: #fff;
  outline: none;
  background-color: #72b1f4;
  /* background: transparent; */
  border: 1px solid #72b1f4;
  /* text-decoration: none; */
  width: 100%;
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
}


.cv-btn {
  margin-top: 16px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.cv-btn:hover {
  /* transform: translateY(-2px); */
  transition: all 0.2s;
  background-color: rgba(114, 177, 244, 0.7);
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
  top: -35px;
  font-size: 14px;
}

.row {
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.row .input-group {
  flex-basis: 48%;
}

.right form {
  margin-left: 40px;
}

img {
  width: 48px;
  height: auto;
  margin-right: 18px;
}

.img-fly:hover {
  transform: translateY(-3px);
  transition: all 0.2s;
  /* background-color: rgba(114, 177, 244, 0.7);  */
}

.material-symbols-outlined {
  color: #fff;
  /* border: 1px solid salmon; */
  font-size: 3.5rem;
  margin-right: 0.2em;
  padding: 0;
}

.mailbox .con-link {
  /* border: 1px solid salmon; */
  display: flex;
  align-items: center; 
  color: #fff;
  font-size: 18px;
}

.left {
  text-align: center;
}

footer {
  background-color: #424141;
  text-align: center;
  padding: 30px;
  color: #fff;
  font-size: 18px;
}

.go-to-top {
  /* background-color: #72b1f4; */
  background-color: rgba(1, 122, 58, 0.7);
  width: 32px;
  max-height: 32px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 0.8em;
  font-weight: 900;
  cursor: pointer;
  font-size: 1rem;
  line-height: 5px;
  text-align: center;
  display: block;
  box-sizing: border-box;

  transition: all 0.2s;
  /* transform: translateY(-80px); */
  /* visibility: hidden; */
  color: #fff;
}

.go-to-top:hover {
  background-color: rgba(9, 96, 50, 0.7);  
  transform: translateY(-4px);
}

/* RESPONSIVE STYLE */

@media screen and (max-width: 280px){
  html, 
  body, {
    width: 100vw;
  }

  .contact-me {
      transform: translateX(0em);
      font-size: 3rem;
  }

  form  {
    min-width: 200px;
  }

  button, input, textarea {
    width: 90%;
  }

  div.row {
    justify-content: initial;
  }

  .row .input-group {
    flex-basis: 47.5%;
  }

  .my-name {
    font-size: 3rem;
  }

  h3.sub-hero {
    font-size: 1.5rem;
  }

  .material-symbols-outlined {
    font-size: 2rem;
  }

  .about-me > p {
    margin-top: 0.7em;
    font-size: 1rem;
  }

  .about-me {
    padding: 4em 2em;
  }

  .go-to-top {
    right: 80px;
  }

  .portfolio-item {
    width: 300px;
    max-height: 450px;
  }
  .mailbox .con-link {
    font-size: 16px;
  }
  
  
}