* {
  font-family: 'Roboto', Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(arch.jpg);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* border: 2px solid blue; */
}

h2 {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  margin: 0 70px;
  /* border: 1px solid blue; */
  color: #fff;
  flex-wrap: wrap;
  font-size: 1.5em;
}

/* .lightblue-span {
  color: red;
} */

.nav-links a {
  text-decoration: none;
  color: #fff;
  margin-left: 30px;
}

.nav-links a {
  list-style: none;
}
.my-name {
  font-size: 6rem;
  margin: 0;
  padding: 0;
  color: #fff;
}

h3 {
  font-size: 2rem;
  margin-top: 24px;
  padding: 0;
}

.hero-text {
  /* border: 1px solid blue; */
  text-align: center;
  width: 100%;
  top: 40%;
  position: relative;
  transform: translateY(-50%);
  color: #fff;
}

/* .yellow-box {
  background-color: yellow;
  color: rgb(41, 40, 42);
  padding: 20px;
  width: 40%;
  position: absolute;
  left: 250px;
} */

.about-me {
  background-color: #424141;
  /* margin: auto; */
  text-align: center;
  padding: 10%;
  color: #fff;
}

.portfolio-container {
  background-color: #c7c4c4;
  text-align: center;
  padding: 50px;
}

.portfolio-item {
  border: 1px solid blue;
  width: 300px;
  min-height: 450px;
}

.portfolio-grid {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.see-button {
  background-color: #72b1f4;
  padding: 10px 20px;
  width: 200px;
  border-radius: 4px;
  margin: auto;
  cursor: pointer;
}

.container-two {
  background-color: #625f5f;

  /* display: flex;
  flex-direction: column; */
}

.info-box {
  /* border: 1px solid salmon; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

}

.contact-me {
  color: #fff;
  padding: 30px;
  border: 1px solid salmon;
  font-size: 4rem;
}

.media-box {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

form {
  width: 90%;
  min-width: 500px;
}

.input-group  {
  margin-bottom: 30px;
  position: relative;
}

input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #fff;
  /* background: transparent; */
  background-color: #ffffff2e;
  font-size: 15px;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  /* font-size: 20px; */

  color: #fff;
  cursor: text;
  transition: 0.2s;
}

button {
  padding: 10px;  
  color: #fff;
  outline: none;
  background-color: #72b1f4;
  /* background: transparent; */
  border: 1px solid #72b1f4;
  /* text-decoration: none; */
  width: 100%;
  cursor: pointer;
  position: relative;
  font-size: 18px;
}

.cv {
  margin-top: 16px;
  margin-bottom: 30px;
}


input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
  top: -35px;
  font-size: 14px;
}

.row {
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.row .input-group {
  flex-basis: 48%;
}

.right form {
  margin-left: 40px;
}

img {
  width: 48px;
  height: auto;
  margin-right: 18px;
}

.mailbox .con-link{
  /* border: 1px solid salmon; */
  display: flex;
  align-items: center; 
  margin-bottom: 14px;
  color: #fff;
  font-size: 18px;
}

.left {
  text-align: center;
}

footer {
  background-color: #424141;
  text-align: center;
  padding: 30px;
  color: #fff;
  font-size: 18px;
}

